@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    max-width: 1920px;
}

:root {
    --primary-color: #FF42A5;
}

/* nav section */
.nav-container {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.nav-icon-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-item-section ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.nav-item-section>ul a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}

.nav-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.purple {
    color: #FF42A5;
}

.nav-item-section>ul .follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 20px;
}

.fa-youtube {
    color: red;
    margin-left: 2px;
}

.fa-tiktok {
    margin-left: 15px;
}

/* banner section */
.banner-container {
    background: hsla(0, 0%, 100%, 0.842);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title-1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}


.banner-content h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content ul {
    margin-top: 20px;

}

.banner-content li {
    list-style: none;
    margin-bottom: 17px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-content li>span {
    margin-right: 10px;
    color: red;
}

.btn-primary {
    border-radius: 48px;
    border: none;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.sign-in {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.go-rogue {
    background: #4EC5F7;
}

/* gammer section */
.gammer-container {
    display: flex;
    justify-content: center;
    padding: 0 240px;
    gap: 30px;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gammer-img-container {
    max-width: 865px;
    max-height: 489px;
}

.gammer-content h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gammer-content .gammer-content-desc {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.know-more-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.know-more {

    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.purpose-text {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.unleash {
    font-size: 32px;
    font-weight: 700;

}

/* video section */
.video-container {

    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}

.video-container h1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-container>p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.card-container {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    width: 342px;
}

.card p {
    margin-top: 15px;
}

.overlay {
    position: relative;
    top: -200px;
    left: 200px;
}

/* feature section */
.features-container {
    width: 80%;
    margin: 100px auto;
    display: flex;
    gap: 260px;
    justify-content: center;
    align-items: center;


}

.feature-description h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: right;

}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.feature-description p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    /* 166.667% */
}

.moveable-img {
    position: relative;
    bottom: 290px;
    right: 160px;
    border-radius: 8px;
}
.icon-section{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 30px;
}
.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon:hover{
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);
    background: #FFF;
}









@media screen and (max-width:425px) {

    .nav-container,
    .nav-item-section ul,
    .gammer-container,.features-container{
        flex-direction: column;
    }

    .nav-item-section ul {
        margin-top: 20px;
        gap: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-img {
        margin-bottom: 50px;
    }

    .banner-img img {
        width: 100%;
        padding: 20px;
    }

    .gammer-container {
        padding: 20px;
    }

    .gammer-content h1 {
        text-align: center;

    }

    .gammer-content .gammer-content-desc {
        text-align: center;
        padding: 10px;
    }

    .know-more-container {
        justify-content: center;
        margin-top: 20px;
    }

    .purpose-text {
        text-align: center;
    }

    .card-container {

        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .feature-description h1{
        padding: 20px;
        text-align: center;
    }
    .feature-description p{
        padding: 20px;
        text-align: center;
    }
    .feature-img{
        width: 100%;
    }
    .icon-section{
       
        grid-template-columns: repeat(3,1fr);
        padding: 20px;
     
    }
    .icon img{
        margin-right: 5px;
    }
}